@import "./mobileNav.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker {
  display: flex;
  flex-direction: row;
}
